$primary: #ff3e39;

$bg--dark: #0f0f0f;
$key--color: #ffffff;
$calc--color: rgb(119, 119, 119);
$bgResult--dark: #151515;

$bg--light: #e2e2e2;
$color--light: #242323;
$bgKeys--light: #979595;
$bgResult--light: #fafafa;