@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&display=swap');


*{
    box-sizing: border-box;
}

body{
    background-image: url(/countdown/pics/snowman.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    font-family: 'Corinthia' , sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
h1{
    font-size: 3rem;
    white-space: nowrap;
    
}
.big-text{
    font-size: 7rem;
    line-height: 1;
    margin: 0 2rem;
}
.countdoun-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container-el{
    text-align: center;
}
.container-el span{
    font-size: 2rem;
}