@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin:0;
    font-family: 'Architects Daughter', cursive;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quiz-container{
    background-color:#FFF;
    width: 400px;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 1);
    overflow: hidden;

    .quiz-content{
        padding: 2rem;
        
        h2{
            margin:0;
        }
    }

    ul{
        list-style: none;
        padding: 0;

        li{
            margin: 1rem 0;

            label{
                cursor: pointer;
            }
        }
    }
}

button{
    width: 100%;
    cursor: pointer;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    display: block;
    padding: 1rem;
    font-family: inherit;
    border:none;
    font-size: 1.5rem;
    opacity: 0.6;
    transition: 0.3s;

    &:hover{
        background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(10,22,37,1) 100%);
        opacity: 1;
    }
}

